:root{
    --font: 'Roboto', 'Titillium Web', 'Ubuntu', 'Work Sans', 'Roboto Mono';
}

.offcanvas-title{
    font-family: 'Kanit', var(--font);
}

.offcanvas{
    position: relative;
    bottom: 3em;
}

#staticBackdrop{
    color: aliceblue;
    transition: 0.3s;
}

.offcanvas-list{
    list-style: none;
    cursor: pointer;
}

.offcanvas-list li{
    padding: 10px;
}